<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>{{.Header}}</title>
</head>
<body>
  <h1>{{.Header}}</h1>
  <details class="chat" id="systemPromptDetails"><summary class="chat" id="systemPromptSummary">System Prompt</summary>
    <div>
      <textarea class="chat" id="systemPromptText" rows="12" cols="128" placeholder="Enter system prompt..."></textarea><br>
      <button class="chat" id="sendSystemPromptButton" onclick="sendSystemPrompt()">Apply</button>
    </div>
  </details><br>
  <div class="chat" id="chatbox"></div><br>
  <div id="userPrompt">
    <input class="chat" type="text" id="userPromptText" placeholder="Enter your message...">
    <button class="chat" id="sendUserPromptButton" onclick="sendUserPrompt()">▶ ⏎</button>
    <div id="connect"><img src="/static/icons/connect.gif">&nbsp;Connecting...</div>
  </div>
  <div id="controlPanel">
    <div id="resetHistory" data-tooltip="Reset request history"><img src="/static/icons/reset.png" type="button" class="controlImage"></div>
    <div  id="disableHistory" data-tooltip="Disable request history"><img src="/static/icons/disable.png" type="button" onClick="disableHistory()" class="controlImage"></div>
    <div class="controlImage" id="enableHistory" data-tooltip="Enable request history"><img src="/static/icons/enable.png" type="button" onClick="enableHistory()" class="controlImage"></div>
  <div>
  <script src="/javascript.js"></script>
</body>
</html>
